*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.game{
    width: 300px;
    height: 600px;
    background-image: url('spacebg.png');
    overflow: hidden;
    position: absolute;
}

.player{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 400px;
    left: 100px;
    text-align: center;
    z-index: 1;
}

.player img{
    width: 100px;
    height: 100px;
}

.alien{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}

.alien img{
    width: 100px;
    height: 100px 
}

.alienMove{
    animation: alienMove 2s linear infinite forwards;
}

.bullet{
    width: 100px;
    height: auto;
    position: absolute;
    top: 400px;
    left: 100px;
    text-align: center;
    animation: fire 1s linear 1 forwards;
}

.bulletImg{
    width: 70px;
    height: auto;
}

@keyframes fire {
    0%{
        top: 400px;
    }
    100%{
        top: -10px;
    }
}

@keyframes alienMove{
    0%{
        top: -10px;
    }
    100%{
        top: 500px;
    }
}

.btnn{
    display: block;
    flex-direction: column;    
}
.myBtn{
height: 550px;
width: 148px;
background: transparent;
border: none;
}

.clickFire{
    height: 210px;
    width: 152px;
}
#fire2{
    background-color:yellow;
    opacity: .09;
    top: 400px;
    left: 149px;
    position: absolute;
    border-top-left-radius: 100px;
}
#fire1{
    background-color:yellow;
    opacity: .09;
    top: 400px;
    left: 0px;
    position: absolute;
    border-top-right-radius: 100px;
}

#result{
    height: 250px;
    width: 250px;
    background-color: rgb(56, 56, 56);
    margin: 1rem auto;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    color: white;
    display: none;
    font-family: 'Courier New', Courier, monospace;
}
#score{
    font-size: 2.2rem;
    font-weight: bold;
    color: red;
}
#btn{
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 25px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

.sd{
    position: absolute;
    display: block;
    top: 5px;
    left: 10px;
}
#scoreBox{
    color: brown;
    font-size: 20px;
    font-weight: bold;
    width: 50px;
}
